<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>dashboard</title>
  <style>
  </style>
</head>
<body>
  <div class="navbar">
    <h2>
      ₹CASH_CRAFT₹
    </h2>
  </div>

  <div>
      <div class="toggle-button-row" (click)="toggleSlideOut()">
        <mat-icon>menu</mat-icon>
      </div>
  </div>


  <div class="slide-out-panel" [class.slide-out]="isSlideOut">
      <div class="slide-out-content">
        <h3 class="nav">Cash Craft</h3>
        <p class="edit-col" (click)="onDash()">Dashboard</p>
        <p class="edit-col" (click)="onProfile()">Profile</p>
        <p class="edit-col" (click)="onHistory()">Prev History</p>
        <p class="edit-col" (click)="onLogout()">Log Out</p>
      </div>
    </div>
  
</body>
</html>